[2016-09-19 11:37] poVoq opened #2 "Duplication of Indicator with quick-switch (KDE)"
Reference to this:
https://github.com/beidl/prime-indicator/issues/19

Issue still happens after latest try to fix it. No idea why, but I am willing to test new releases on my Kubuntu 16.04 laptop.

[2016-09-19 11:39] andrebrait commented on #2
This will be resolved on the next release, which will happen in a couple of days. Thanks for reporting and testing! I'll report the progress as soon as it happens

[2016-09-19 11:41] poVoq opened #3 "Icon color and size"
Minor issue only, but on the default menu-bar color of KDE the gray icons are barely visible (darker gray on light gray). Somehow I would prefer a nice Nvidia green or at least full black or something like that.

It also seems like both logos are slightly squeezed horizontally in KDE (the icon displayed seems quadratic, but the actual .svg is a bit rectangular)

[2016-09-22 15:31] andrebrait commented on #2
@poVoq please try with this version if you can

[2016-09-23 10:42] poVoq commented on #2
Hmm, no change, but I am not sure if I cleanly uninstalled it. What I did was run (as root) the "uninstall.sh" that I still had from the installation folder where I extracted the files to. Then I downloaded the new version and installed it. At no point it showed any errors, but the indicator did not disappear after uninstalling. After a reboot I tested it, but the indicator is still duplicated and

[2016-09-23 12:08] andrebrait commented on #2
Ok. I'll look further into it.

As for a clean uninstall, it can be achieved by doing:

sudo rm -rf /usr/lib/primeindicator
sudo rm -rf /usr/lib/prime-indicator
sudo rm -rf $HOME/.config/primeindicator
sudo rm -rf $HOME/.config/prime-indicator
sudo rm -f /usr/bin/primeindicator.py
sudo rm -f /usr/bin/prime-indicator
sudo rm -f /usr/bin/primeindicator
sudo rm -f $HOME/.config/autostart/primeindicat

[2016-09-23 12:54] andrebrait commented on #2
I just comitted a change that should restrict it to a maximum of one instance running. When it starts, it terminates any older instance before starting itself.

[2016-09-23 13:03] andrebrait commented on #3
@poVoq Try one of the new icon options I've included and see if you like them =). I've played with them a bit and liked them myself (The new README provides information on the options available)

[2016-09-23 14:06] poVoq commented on #2
Did a purging of the files as you suggested then tried to install the latest version, but it doesn't work anymore (no icon or functionality at all on a reboot).

If I try to start is manually as suggested by the installer I get the following error:

(prime-indicator:5846): Gdk-CRITICAL **: gdk_window_thaw_toplevel_updates: assertion 'window->update_and_descendants_freeze_count > 0' failed

And the

[2016-09-23 17:59] andrebrait commented on #2
Wow! Please give me more details of your setup. Which distro/version are you running?

[2016-09-24 03:44] poVoq commented on #2
I am running recently installed Kubuntu 16.04 with a Nvidia 970m (drivers 370.28). Quite a common setup I believe.

[2016-10-03 18:25] andrebrait commented on #2
Indeed. Sorry for taking so long to look into it. What is the content of your config file? Open the terminal and run `cat $HOME/.config/prime-indicator/prime-indicator.cfg` and post the result here.

[2016-10-04 11:19] poVoq commented on #2
[PowerManagement]
enabled = true

[Appearance]
iconset = theme-default

[2016-10-04 15:19] andrebrait commented on #2
Try changing the iconset to `color` and starting it again

[2016-10-05 12:20] poVoq commented on #2
Hmm, no real change. But I noticed a few odd things:
When I tried to change it the first time, the .config/prime-indicator folder and the .cfg were under the "root" owner and group. But changing that to the actual user and making the above suggested change did not result in the app starting upon a reboot.

I then uninstalled everything another time and reinstalled it from the current github state

[2016-10-05 13:53] andrebrait commented on #2
That's extremely odd. Creating the configuration files is literally the first thing it does.

Run the uninstall.sh as root (`sudo ./uninstall.sh`). Next, run the installer as root (`sudo ./setup.sh`). When it asks if you want to make it autostart, answer 1 (Yes).

Next, start it as your common user without sudo, by running `/usr/lib/prime-indicator/prime-indicator` and post any output that's prese

[2016-10-05 14:44] poVoq commented on #2
Ok thanks for the help in troubleshooting!

I did as instructed above, but when I try to start is as a common user it just complaints that I do not have the rights to run it (this is a German system so direct cut&paste of the output would help you little).

[2016-10-05 16:23] andrebrait commented on #2
Hm... Maybe I messed up the permissions a little bit. Try doing `sudo chmod +x /usr/lib/prime-indicator/primr-indicator` first and then try again.

[2016-10-05 16:28] andrebrait commented on #2
Oh wait. I think I know what I did wrong. I'll modfiy the setup script and I'll report when I'm done

[2016-10-19 17:41] andrebrait commented on #2
@Well, it should be corrected now. I had assigned the wrong icon name for the nvidia icon with the color option...

I also have a new branch with custom icon coloring implemented, if you'd like to try it =)

EDIT: Ok, found the problem! I'll be updating the script ASAP.

[2016-10-20 03:09] andrebrait commented on #3
I fixed both in commits 1f6e789669562dc646b918db04b85f1f58ccca63 and 93ea9d552460bd41f20b6c20182eb10be5348d1c. I'll report when I merge those to master.

[2016-10-20 03:10] andrebrait commented on #2
Ok, I fixed this. I'll report when I merge the fixes to master.

[2016-10-20 03:17] poVoq commented on #2
Sound great. let me know if there is something I could test.

[2016-10-20 03:26] andrebrait commented on #2
Will do in a few minutes =)

I'm finishing testing it under Unity, etc.

[2016-10-20 04:40] andrebrait commented on #3
Just merged. You can now download the code and test it. Check the new custom option for icon color I've included (the README.md file contains details on how to use it). It might be useful to you.

Once you test it and the problems are gone, please report back and/or close the issue as solved!

[2016-10-20 04:41] andrebrait commented on #2
Done! Looks like it's ok!

Please report back if the issue was solved!

[2016-10-20 09:52] poVoq commented on #2
First try it didn't work, but after a clean manual de-installation as explained above, it now seems to work perfect! Thanks a lot for fixing it on KDE :+1:

[2016-10-20 09:52] #2 closed

[2016-10-20 09:56] poVoq commented on #3
seems to work great. Thanks!

[2016-10-20 09:56] #3 closed

[2016-10-20 11:02] andrebrait commented on #2
You're welcome!

[2016-10-22 01:29] jsalatas opened #7 "Icons not shown in KDE"
I'm using KDE neon (plasma 5.8.2) and the icon isn't shown in systray.

[2016-10-22 01:33] andrebrait commented on #7
Hello @jsalatas. Can you give me some other information? What version of which distro are you using? What method did you use to install it (PPA or the setup script included in this repository)?

[2016-10-22 01:38] jsalatas commented on #7
I'm using KDE neon user edition (https://neon.kde.org/)

I installed it using the ppa:nilarimogard/webupd8  as described here
http://www.webupd8.org/2016/10/prime-indicator-plus-makes-it-easy-to.html

Also in my ~/.config/prime-indicator/prime-indicator.cfg I tried both iconset = color and  iconset = theme-default but none of them worked.

Thanks for your quick response!!!

[2016-10-22 01:59] andrebrait commented on #7
You're welcome. I receive notifications whenever someone opens a issue, so it doesn't take me much time to notice this hahaha.

Can you run it manually in the terminal, copy any output that appears and paste it here?

To do so, run

$ `/usr/lib/prime-indicator/prime-indicator` as your regular user

[2016-10-22 02:15] jsalatas commented on #7
Running it from a terminal doesn't produce any output. However I get some errors in plasma's output

Having

iconset = color

I get

Registering ":1.134/org/ayatana/NotificationItem/PRIME_Indicator"
QQuickItem::stackAfter: Cannot stack after 0x5cf9b80, which must be a sibling

Having any of the other three options

iconset = theme-default

iconset = symbolic

color(#ffffff)

I get the same message

[2016-10-22 10:55] andrebrait commented on #7
I see. They must have implemented this check in newer versions. I'll fix the path but I'll also check with the KDE devs if this should really be happening.

On a small note, the correct option for white icons would be `custom(#ffffff)`, not `color(#ffffff)`.

[2016-10-22 11:37] andrebrait commented on #7
Out of curiosity, how did you get the output from plasma? System logs? Although I like KDE a lot, I'm not as experienced with it as I am with GNOME. I'm planning on starting to contribute to KDE, so it would be good to know where I'd get such error messages.

[2016-10-22 12:31] ViBE-HU opened #8 "Multi-language support"
Please add localization support.

[2016-10-22 12:42] andrebrait commented on #8
Will do! It's on my plans. I need people to translate, though. I have, at this time, Italian, Brazilian Portuguese and English.

If you'd like to contribute or you know people who can, please point them to me.

[2016-10-22 12:45] ViBE-HU commented on #8
Absolutely you can count on me. I already translated the original tool to Hungarian just never published.

[2016-10-22 18:03] jsalatas commented on #7
if you run the following commands in a terminal

killall plasmashell
kstart plasmashell

it will restart plasma and it will give you the terminal prompt back. However in the terminal you run it, it will output some logs

[2016-10-22 18:06] jsalatas commented on #8
I can contribute greek translations. Just let me know :)

[2016-10-22 19:02] andrebrait commented on #8
@ViBE-HU @jsalatas I would appreciate! Can you add the translations to the JSON file in the /usr/lib/prime-indicator folder?

[2016-10-22 19:30] andrebrait commented on #7
Wow. Useful.

Commit a4fe029125884fe8f529f6c8c80b4338e6d76ca2 should have fixed this sittuation. Please replace the file in your installation (`/usr/lib/prime-indicator/prime-indicator`) with [the one in this repository](https://github.com/andrebrait/prime-indicator/blob/master/usr/lib/prime-indicator/prime-indicator)

[2016-10-22 19:32] jsalatas commented on #8
Attached (as txt as github doesn't allow me to attach json). I guess there might be some issues in the translation due to string concatenation, but I need to see these in action before I can tell for sure

[prime-indicator.txt](https://github.com/andrebrait/prime-indicator/files/545999/prime-indicator.txt)

[2016-10-22 19:43] jsalatas commented on #7
That didn't work :(

Now whatever I put in iconset I get

Registering ":1.164/org/ayatana/NotificationItem/PRIME_Indicator"
QQuickItem::stackAfter: Cannot stack after 0x5cf9b80, which must be a sibling

[2016-10-23 01:19] ViBE-HU commented on #8
@andrebrait not sure how to fork but I think I did it and made a commit (for the very first time lol). Notice me if I did it wrong.

[2016-10-23 09:40] andrebrait commented on #8
@ViBE-HU You did it right! I jist merged your pull request! Thanks a lot!

[2016-10-23 19:16] andrebrait commented on #7
@jsalatas can you please test it using the script as of commit a5ff3c5f34bbbccf225e41e8bd29384559d862fb ?

[2016-10-23 19:28] jsalatas commented on #7
It works!

Tested with all four options for iconset

[2016-10-23 20:29] andrebrait commented on #7
I'm very happy to hear (read) that!

Have you tested switching between cards, etc?

I closed your pull request since commit a5ff3c5f34bbbccf225e41e8bd29384559d862fb fixed the issue. Thanks a lot, since your solution ended up serving as base to the one I made.

[2016-10-23 20:34] jsalatas commented on #7
Yes! Switching and everything works.

Thanks for your effort! :smile:

[2016-10-23 20:36] andrebrait commented on #7
Great! I'm closing the issue then. Thanks a lot, too! ;)

[2016-10-23 20:36] #7 closed

[2016-10-24 20:29] andrebrait commented on #8
@jsalatas the user @mugna91 changed some parts of the translations file. Would you mind checking if your translations are still correct when comparing to the latest version of the english strings? Thanks a lot!

[2016-10-24 20:33] jsalatas commented on #8
Will do it later. I'll create a pull request for it :)

[2016-10-27 00:44] andrebrait commented on #8
Two messages were left out when the original file was created. @mugna91 added them a few hours ago. Can you guys please add the translations for those, when you find some spare time to do it? Thanks a lot!

[2016-10-27 04:19] ViBE-HU commented on #8
@andrebrait I noticed this but I thought maybe you will remove these from the code for some reasons. The Logout button still missing, right?

[2016-10-27 09:30] andrebrait commented on #8
I haven't been having much time to review these changes beyond a quick look in the pull request before merging. If the Logout button is still missing, we better add it because it appears a lot.

As for those messages, I don't plan to remove them unless there's a standardized way of logging out, and I don't think there is. So, since I don't plan to support every DE out there, it will always be poss

[2016-10-27 16:44] ViBE-HU commented on #8
@andrebrait Of course. I just wanted to say that the string is missing from the json while it's in the code so you may want to add it also to the text files.

[2016-10-27 17:44] mugna91 commented on #8
@ViBE-HU You're right. Done a PR.

[2016-10-27 17:47] andrebrait commented on #8
Thanks, @mugna91!

[2016-10-28 21:06] gabrielssilva commented on #8
@andrebrait do you still need help with pt-br?
I see you have pt-pt translations, and the messages are pretty much the same. But it is not complete, and I can send a patch anyway.

[2016-10-28 21:12] andrebrait commented on #8
@gabrielssilva I'm brazilian, so I don't need help with the translation itself. However, I have been quite short in spare time lately, so it would be nice if you could send the patch :)

[2016-10-28 23:01] gabrielssilva commented on #8
It's a pretty simple patch, but I hope it helps (#17) :)

[2016-10-29 11:39] andrebrait commented on #8
It sure does! Thanks a lot! Merging now!

[2016-11-02 18:36] hckrtech opened #19 "System freezes after installling prime-indicator with intel driver"
I installed prime-indicator and  run it only once with Alt+F2 while using intel driver using webupd8 ppa. The system did freeze. Now every time I boot with intel driver the system freezes after the splash screen. I removed the application but the problem persists. I believe it is related to some option you switch during the installation or first run.

My computer uses Intel 6700HQ and GTX 960M.

[2016-11-02 18:55] andrebrait commented on #19
It doesn't do anything on the first run besides writing the base config file to your home folder. Maybe your notebook has problems with bbswitch. What distro are you using? Do you have bumblebee installed as well?

Also,did you install prime-indicator or prime-indicator-plus?

Try running the following commands on the terminal:

`$ rm -rf ~/.config/prime-indicator`

Check if it's completely remove

[2016-11-02 20:32] ViBE-HU opened #20 "Version 1.0.2-1 displaying the wrong tray icon"
I'm on Unity and noticed that the icon shows always Intel since last update. I checked a few times but no luck.

![indicator](https://cloud.githubusercontent.com/assets/640109/19946233/ca614a94-a143-11e6-851f-f8eb2255ecf8.jpg)

[2016-11-02 20:36] andrebrait commented on #20
That's weird. Perhaps something happened during the packaging. I'm gonna check with @hotice. The difference between 1.0.0 and 1.0.2 shouldn't have made this happen.

[2016-11-02 20:41] andrebrait commented on #20
Did you change anything other than that? Can you try the color option?

Turning Secure Boot on has some weird effects on Optimus laptops and Linux. Do you know if you enabled it?

[2016-11-02 20:51] ViBE-HU commented on #20
I corrected the version number. So I did not changed anything. It works well, changing the VGAs but displaying incorrectly. I never touched the configuration file. I'm using the default settings.

[2016-11-02 20:55] andrebrait commented on #20
Can you please the changing the iconset option in the file ~/.config/prime-indicator/prime-indicator.cfg to the color option? It's very weird. It would only do that if it found an icon for the word NVIDIA in your icon theme that would correspond to the intel icon... I'm reading things here again to see if I find the error.

[2016-11-02 20:56] andrebrait commented on #20
Found it. It's weird. I'm trying to find the commit that changed it.

[2016-11-02 21:06] andrebrait commented on #20
Fixed it.

It should be up to the PPA in a few days. However, if you want it fixed right away, download the 1.0.3 code from here:

https://github.com/andrebrait/prime-indicator/archive/1.0.3.zip

Then extract it to somewhere and run the setup script as root. It won't affect the packaging in your distro. When it updates through apt-get it will overwrite the files.

[2016-11-02 21:06] ViBE-HU commented on #20
Strange. I changed it from `theme-default` to `color` as you asked and now showing correctly.

[2016-11-02 21:08] andrebrait commented on #20
Not strange at all. The `theme-default` option falls back to the color option when no icon is found. It was happening to you, but I had screwed the fall back selection and it always ended up selecting Intel. The `color` option was untouched and it worked ok.

[2016-11-02 21:09] ViBE-HU commented on #20
Oh thanks for your fast reaction. So that's why no monochrome theme been displayed at all.

[2016-11-02 21:15] andrebrait commented on #20
You're welcome!

If it's failing to detect the proper icons, you can set your own custom color in the config file using the `custom(#AAAAAA)` code, where AAAAAA is the 6-digit hex RGB representation of the color you want. You can use this [HTML Color Picker](http://www.w3schools.com/colors/colors_picker.asp) to pick the color you want from the pallete and copy its Hex code. It will start using the

[2016-11-02 21:20] ViBE-HU commented on #20
Clear. Cool feature but I'm absolutely satisfied with your original themes and with the whole application. Hope we never get more serious issues than this :D

[2016-11-02 21:24] andrebrait commented on #20
Let's hope not hahaha. A guy reported an issue with GNOME that wouldn't let the computer start after installing prime-indicator, but I suspect he installed it along with bumblebee, which is known to cause these errors.

When you confirm it has been fixed, please tell me so I can close the issue :)

[2016-11-02 22:34] ViBE-HU commented on #20
Somehow the fix just partially working for me. I installed it and set back to `theme-default` but it show the coloured version.

[2016-11-02 23:30] andrebrait commented on #20
It seems it's working ok (the fallback was the broken part) but it still can't find icons for nvidia or intel in your Icon theme. It's up for the theme to provide them.

It works something like this:
- Hey GTK! Does the user's theme have some icon named something-intel-something?
- Erm.... let me look for it... nope, there is not.
- Ok, I'm gonna use my own icon then. Thanks!
- You're welcome, app

[2016-11-04 13:53] hckrtech commented on #19
I installed using:
`sudo add-apt-repository ppa:nilarimogard/webupd8
sudo apt update
sudo apt install prime-indicator-plus`

My system uses Ubuntu 16.10 Kernel 4.8.0-26. I don't have bumblebee installed. The system did freeze immediately after I run the command `prime-indicator` and I am still not able to start the system using intel driver although I removed prime-indicator-plus completely. Are y

[2016-11-04 16:31] andrebrait commented on #19
When the power management option is set to ON it will try to disable the NVIDIA card on start up, but this should already be happening due to Ubuntu's GPU Manager service. However, you can edit the config file to disable the power management completely.

I never tested it on 16.10 but since I can use similar things on Arch I doubt it is something related to 16.10. Maybe your system has some proble

[2016-11-06 12:51] hckrtech commented on #19
Could you please tell me what config file should I edit to get the option back? The problem is that I completely removed your script, but the config file seems to have the option for GPU Power Manager.
On powertop before I installed prime-indicator, I am sure that Runtime PM for GTX 960M was disabled when I used intel driver. I never had any problem with bbswitch before.

[code]

Could you please

[2016-11-06 15:10] andrebrait commented on #19
Sure!

The only config file my application has is located in you user's home folder, in `~/.config/prime-indicator/prime-indicator.cfg` (`~` is a shortcut for `/home/yourUserName`). You can edit the file using any text editor you want. Inside it, you will find something like this:

`
[PowerManagement]
enabled = True
`

Change it from `True` to `False` and it will stop trying to disable the card on

[2016-11-06 17:08] andrebrait commented on #19
Please notice that the application does not write settings other than those in the folder I pointed.
There are a couple of files written in other places, but they're just an auto start desktop file and a sudoers file to enable the application to switch the dGPU on and off without requesting a password.

You can completely remove any leftovers by running the uninstall script present in this reposit

[2016-11-13 14:49] andrebrait commented on #20
Fixed in version 1.0.3

[2016-11-13 14:49] #20 closed

[2016-11-14 23:47] seancs opened #21 "Large panel icon in xfce4"
Using prime-indicator from the webupd8 ppa. The panel icons are too large. Changing the iconset in ~/.config/prime-indicator/prime-indicator.cfg has no effect.

This is on an xfce4 system (Xubuntu 16.10).

[2016-11-15 00:08] andrebrait commented on #21
What did you change it to? Have you tried the `color` option? It's important to note that changing the config file will only affect the icons the next time the indicator is restarted (which can be triggered by logging out and then in again). Can you provide a screenshot?

[2016-11-15 00:56] seancs commented on #21
I tried color, theme-default and symbolic by editting prime-indictor.cfg to remove the # comment mark for each method I tried.
`#iconset = color`
`#iconset = theme-default`
`iconset = symbolic`

Logging out-in or quitting and restarting prime-indicator was done with each change. Selecting `color` gave me a blue oversized icon.

![screenshot_prime_indicator_intel](https://cloud.githubusercontent.co

[2016-11-15 11:30] andrebrait commented on #21
I see. This shouldn't be happening... the weird part is that I'm running XFCE and the icon is presented ok.

Download the zip below and extract it to `/usr/lib/prime-indicator/icons/`, restart your computer and see if it works. You may need to extract the zip to somewhere first and then copy the files as root to the right folder (as in doing a `sudo cp /path/to/where/you/extracted/* /usr/lib/prime

[2016-11-15 14:09] seancs commented on #21
The resized icons in the zip work well. It seems there's a two year old [bug](https://bugs.launchpad.net/ubuntu/+source/xfce4-indicator-plugin/+bug/1313531) in xfce4-indicator-plugin that prevents it from resizing some icons, yet your system is fine. That is odd.

Thanks for the resolution and the program.

[2016-11-15 14:36] andrebrait commented on #21
I'm running it on Arch Linux, so I think I'm a few minor versions ahead of Ubuntu. Maybe it was fixed upstream. Glad to hear it worked. I'll see what I can do to solve this as it might be affecting other XFCE users.

[2016-11-27 22:41] Garoe opened #22 "Handle prime-select unknown"
Under certain error conditions `prime-select query` might return `unknown` rather than `nvidia` or `intel`. It'd be nice to have that case included, with a custom icon so that the user knows that something is wrong.

[2016-11-27 23:11] andrebrait commented on #22
It was in the plans. I ended up forgetting to add this option (it would be a '?' icon or something like that). I'll mark this as a request for improvement :)

[2016-11-28 01:55] bellpepper opened #23 "Taskbar Icon Missing in KDE Plasma Unless Run with Sudo"
This seems similar to #7, but opened a new issue anyways.

I was having issues getting the icon to display in the taskbar of Plasma, and noticed that if I run prime-indicator as root, the issue goes away. Here is what I see as my normal user:

[code]
![as-my-user](https://cloud.githubusercontent.com/assets/7130316/20653964/6dee6b2c-b4c9-11e6-89d5-e1d86c1d8982.png)
Notice the missing icon below the

[2016-11-28 09:21] andrebrait commented on #23
This is weird. I run KDE too. Is it affected no matter which option you set in the config file?

Can you send me the output of `ls -lha /usr/lib/prime-indicator/icons`?

[2016-11-28 17:34] bellpepper commented on #23
Any option in the config file will affect the toast (I don't know the proper name) icon properly. For example, here is `iconset = color`:

![color](https://cloud.githubusercontent.com/assets/7130316/20678949/9bf85a26-b54d-11e6-8d36-1a530590c546.png)

[code]

[2016-11-28 23:16] andrebrait commented on #23
That's very, very weird. I'm going to check if the solution to KDE >= 5.8 caused this. If that's the case, I'll have to include a conditional check to see if the user is running KDE with version lesser or greater than 5.8.

[2016-11-28 23:20] bellpepper commented on #23
Also, I found a downside to running it with sudo: I cannot interact with the menu icon from the taskbar UI. If I right-click the icon, no menu appears. I have to quit prime-indicator using a kill command.

[2016-11-28 23:49] andrebrait commented on #23
Given how the AppIndicator library is unstable with anything other than Ubuntu's Unity, it's not surprising.

A while ago it was reported to me some situations that would cause Gedit to crash when the indicator started, but only if the user had opened it through the GUI by opening a file with a file browser (such as Nautilus, Dolphin, etc.). That's how buggy the AppIndicator library can be.

I'm c

[2016-12-08 01:43] bellpepper commented on #23
You know, I think this must be a local issue. I've began using another application that attempts to display on the taskbar, and it is not displaying properly. The "proper" icon here should be a red logo, but instead it is just a red box. So, I think this issue could be closed as EUE. Something must be wrong on my machine. Sorry if this resulted in chasing a bug that didn't exist.

![image](https:/

[2016-12-08 01:43] #23 closed

[2016-12-10 11:17] Gara-Dorta commented on #22
Thanks, a reproducible way to get the unknown status is to active secure boot.
Which by the way makes the readme a bit misleading, the nvidia drivers do work with secure boot, but only after the modules have been [signed](https://www.kernel.org/doc/html/latest/admin-guide/module-signing.html)

[2016-12-18 15:14] andrebrait commented on #23
No problem at all! I haven't had any time to look into the issue anyway. Thank you for providing the information.

[2016-12-18 15:16] andrebrait commented on #22
@Garoe I'll add an icon for Unknown then. Will do as soon as I can. This December is being an unusually busy month for me.

Also, thanks for the information. I knew why the NVIDIA drivers wouldn't work but I had no idea one could sign them!

[2017-01-18 13:31] Maccer1 opened #24 "There isn't a clear way to remove the indicator."
I want to remove it because my system already does everything I need by default (and I don't really switch between cards). So what files do I need to remove to uninstall it?

[2017-01-19 11:33] andrebrait commented on #24
How did you install it?

If you did it using a packaged version (like the one in webupd8's ppa) ysing dnf, yum or apt, you should uninstall the package.

If you downloaded it from here, there's a uninstall script named uninstall.sh. Just run it as super user, like

`sudo bash uninstall.sh`

[2017-01-19 18:18] Maccer1 commented on #24
Oops. Sorry, I should have checked that.

[2017-01-19 18:18] #24 closed

[2017-01-19 18:52] andrebrait commented on #24
No problem. I didn't include explanations in the README after all.

[2017-01-25 19:39] hckrtech commented on #19
Hello,

It turns out that the problem **has nothing to do with the prime-indicator-plus** (probably about some settings or packages that I played with). I have to reinstall the system because I cannot recall what I changed.

Sorry for taking your time.

[2017-01-25 19:39] #19 closed

[2017-03-18 23:49] cosmicog opened #25 "Doesn't show icons on kubuntu plasma desktop"
Screenshot:
![screenshot_20170319_023843](https://cloud.githubusercontent.com/assets/9158844/24076887/523cd142-0c45-11e7-9d2c-2110d931800b.png)
I'm using kubuntu 16.04 with plasmashell 5.5.5.
I'm using `numix-square` theme and I've tried different setting in `prime-indicator.cfg` but same issue hapens with all of it.

[2017-03-24 20:19] andrebrait commented on #25
Hi there!

I'm sorry for responding 6 days after you reported the issue. I've been very busy.

It's strange, since I developed it when running Kubuntu, mostly.
What settings did you try?
Can you send me your prime-indicador.cfg?

[2017-03-24 20:27] cosmicog commented on #25
Hi, not a problem :)
Sure, I guess that was last try:
[code]

[2017-03-25 13:48] SasakiSadako opened #26 "Cant turn off the Nvidia GPU"
Im Using a MSI Apache pro GE62 with an Nvidia 970m GTX.

Your Prime Indicator is truly awesome, but i would love to try the shutting off feature of your Application.

I can open the menu, but when im click on shut GPU off, nothing happends. im usualy running my KDE Neon Desktop on my Intel GPU, so i would love to turn it off.

I can push the "Eanble nvdia power management" but of course this is no

[2017-03-26 15:14] andrebrait commented on #25
I'll be looking into it.

Weird, as the custom option should force the color. Can you try the "color" option? Does it result in the same?

[2017-03-26 15:17] andrebrait commented on #26
How did you install it and which distro/version are you running?

[2017-03-27 09:36] cosmicog commented on #25
Sorry, I'm responding late too.
Changing configuration works with tooltip. I've changed to `color` and here is result.
![prime-inidcator](https://cloud.githubusercontent.com/assets/9158844/24350116/bb6202fa-12e9-11e7-95f5-f34ba1a95d68.png)
Maybe, It's just my computer's problem?

[2017-03-27 12:44] andrebrait commented on #25
May be, but it's more probably something with Plasma 5.5. I remember I developed it when I was in Plasma 5.6, which you can find in the kubuntu-backports repository.

If it's not too much trouble, maybe installing 5.6 will fix it.

My guess is that there's something affecting Plasma when it comes to rendering SVG icons.

[2017-03-27 13:31] cosmicog commented on #25
I'm downloading KDE Neon now :D If it works with neon, I'll close this issue because it is related to old version of plasma.

[2017-03-27 13:37] andrebrait commented on #25
Great!

AFAIK it works with Neon, as I remember some users reporting it did.

[2017-03-29 10:42] SasakiSadako commented on #26
Im using kde Neon based on Kubuntu Xenial. Its the regular Kubuntu Xenial Installation, with the KDE Neon Upgrade on it.

Im Using your version from the PPA.

Another issue ive found out is, sometimes when i want to switch the GPU with your Indicator, it tells me i have to log out and log in, but nothing happend after ive done that,

When i change the GPU from the Nvidia Panel, it always asks me a

[2017-03-29 10:47] andrebrait commented on #26
Threre must be something different with your system for it not to work. You're able to switch through the control panel, right?

My script uses a custom sudoers file which enables it to run as root without asking for a password.

[2017-03-29 20:15] SasakiSadako commented on #26
Yes switch from Intel to nvidia  though the nvidia panel is no Problem.  When im using your indicator i can logout and login. Your indicator said unknown graphics Adapter but with glxinfo it said intel integrated. I have to switch from the nvidia panel for letting it work flawless and cannot shutdown the nvidia gpu

[2017-03-30 11:32] andrebrait commented on #26
I see.

Can you post the outputs of the following commands (in order) both on Intel and on NVIDIA?

1 - cat /proc/acpi/bbswitch
2 - which prime-select
3 - which prime-supported
4 - prime-supported
5 - glxinfo | grep 'OpenGL renderer string'
6 - prime-select query

[2017-03-30 14:45] #25 closed

[2017-03-30 15:39] SasakiSadako commented on #26
Here the Outputs With Intel GPU running.

[code]

[code]

[code]

[code]

[code]
[code]

And the Output with Nvidia GPU Running

[code]

[code]

[code]

[code]

[code]

[code]

Thank you for your support.

[2017-03-30 16:58] andrebrait commented on #26
Are you using the Proprietary Drivers PPA? It seems your computer cannot
turn the NVIDIA GPU off.

Try this:

sudo tee /proc/acpi/bbswitch <<< OFF

Then post the results of

cat /proc/acpi/bbswitch

Ps.: Do this while running the Intel card.

Please provide me with your NVIDIA driver version and kernel version as
well. Post the output of the command below as well.

uname -a

Em 30 de mar de 2017 1

[2017-03-31 07:43] SasakiSadako commented on #26
Here the Output and more Infos about my Driver and Kernel.

Thank you very much

[code]
[code]

Im using the NVIDIA Driver from the regular Ubuntu Repositoy

`The Version is 378.13
`

[code]

I Checkout a little bit by myself and found this topic:

i think its the same issue, but with bumblebee instead of prime.
http://askubuntu.com/questions/735046/bumblebee-not-disabeling-nvidia

[2017-04-04 12:44] andrebrait commented on #26
While running Intel, run this command and post back the output here, please (you may need to use sudo):

rmmod nvidia_drm nvidia_modeset nvidia_uvm nvidia

[2017-04-05 04:32] SasakiSadako commented on #26
Hello

Here is my Output for sudo rmmod nvidia_drm nvidia_modeset nvidia_uvm nvidia

`rmmod: ERROR: Module nvidia_drm is not currently loaded
rmmod: ERROR: Module nvidia_modeset is not currently loaded
rmmod: ERROR: Module nvidia_uvm is not currently loaded
rmmod: ERROR: Module nvidia is not currently loaded
`

thank you for your great support.

Sada

[2017-04-06 01:21] wjgeorge commented on #21
apparently gnome-fallback does not autoresize, I'm running 16.04 and had to use the small icons.

using prime-indicator-plus from webupd8 ppa

[2017-04-06 13:00] andrebrait commented on #21
Thanks for the feedback, @wjgeorge!

[2017-04-06 13:05] andrebrait commented on #26
@SasakiSadako it seems your laptop is a peculiar one... The NVIDIA's modules are not loaded, which is usually the primary cause for the card not to shut down. It seems bbswitch simply doesn't work...

Are you using the latest BIOS?
Since the main cause seems to be between your laptop/card and bbswitch, I can't really do much. Maybe the guys over the bumblebee project can help, if you open an issue

[2017-04-06 13:28] SasakiSadako commented on #26
Im Using the latest bios "unlocked" and latest nvidia GPU Bios Unlocked.

The Bumblebee will not help, because bumblebee never really worked very well on my notebook.
I will checkout the HWE Branch, but anyway thank you for your great support :) and even it seems not to work with my device, keep on the great work.

[2017-04-06 14:53] andrebrait commented on #26
I see. Are you able to disable the GPU somehow? Have you tried distros that officially support Optimus laptops, like Manjaro? If even Manjaro can't disable your GPU, I'm afraid it can't be done with Linux for some reason.

My PRIME Indicator relies on bbswitch, so it won't work unless you get bbswitch to work with your card, I'm afraid 😞

[2017-04-06 16:48] SasakiSadako commented on #26
No problem , it's a gaming notebook and on battery with Intel I have nearly 4 hours of battery on kde neon while watching videos. I think it's a really good performance for a gaming Notebook.
No I. Not try other distros I'm using my kde neon for work and Internet and it runs stable and just windows for gaming. I found your indicator and thought maybe it would run with my device. If not, it's not j

[2017-04-19 18:06] ViBE-HU commented on #8
I was fairly inactive but I wanted to notice that the translation does not appears on Ubuntu. It's still use English somehow on my system. I also tested on a freshly installed laptop, but same happens.

[2017-04-24 02:46] andrebrait commented on #8
Hey there, Vibe. Yeah, it has not been implemented yet. I have been busy
lately. Sorry about that :/

Em 19 de abr de 2017 3:06 PM, "ViBE" <notifications@github.com> escreveu:

[2017-07-17 16:32] ruffson commented on #21
I copied the files to the suggested folder and rebooted but no changes. I also tried uninstalling prime-indicator-plus. And use the webupd8 ppa. Any suggestions on how to fix this @andrebrait ?
I am on Ubuntu 16.04 with Budgie.
![large icons](https://user-images.githubusercontent.com/1185812/28278693-36c814ca-6b1e-11e7-996a-b24f54a130a1.png)

[2017-11-05 12:15] seifer08ms commented on #21
I'm running it on Ubuntu 17.04 with gnome-fallback. I use the script to resize icons manually.

[code]

[2017-11-06 19:56] andrebrait commented on #21
@seifer08ms Thanks for the input!

It's a nice script, but it requires the user have inkscape installed. I bet it's doable with just sed or something like that.

An SVG is pretty much a text file.

[2017-11-30 08:50] lf-araujo opened #29 "[Enquiry] Does it switch on the fly?"
I am unsure about the description of this package.

- Does it monitors the state of the GPU and switch it off when not in use?
-  Does it works in Ubuntu 17.10?

Thank you.

[2017-11-30 09:39] andrebrait commented on #29
The power management isn't that important anymore as Ubuntu has fixed their GPU Manager service. PRIME Indicator polls every N seconds if your GPU is turned on and if it's in Intel mode (which means GPU Manager screwed up) and the power management option is enabled, it tries to turn it off. If any of these conditions aren't true, it leaves the card as it is.

It most likely works on 17.10.

[2017-12-04 10:29] as3mbus opened #30 "is there any parameter to say yes or no without a prompt ?"
hello im trying to make a complete install script to setup graphic driver including this prime indicator but it seems i dont see a way to do that.

[2018-02-04 06:44] fgallaire opened #31 "No Deepin Desktop Environment support"
Could Deepin Desktop Environment be supported ?

[2018-02-04 14:07] andrebrait commented on #31
Hey there. I've never used Deepin. Is it only the logout function that's broken or is there something else?

[2018-02-14 04:25] mmhobi7 commented on #22
https://github.com/andrebrait/prime-indicator/pull/28

[2018-03-20 11:28] jasmines opened #32 "Update PPA to artful"
I suppose you're responsible of Ubuntu PPA at https://launchpad.net/~nilarimogard/+archive/ubuntu/webupd8
I wrote so many times asking for an Artful build, but no one replied.

This is quite embarrassing...

[2018-04-03 10:49] jasmines commented on #32
Bump!

[2018-04-03 12:29] andrebrait commented on #32
Oh, I'm not responsible for that PPA. That would be Andrew (andrew@webupd8.org).

[2018-04-12 19:35] ViBE-HU opened #33 "What about Ubuntu 18.04?"
Maybe it's a lame question. I guess there are already a solution for this on system level (nvidia-prime) but on my freshly installed 18.04 beta it's absolutely dead. Do you have any plans on the new OS?

[2018-04-15 15:55] andrebrait commented on #33
I promise I'll take a look into those things as soon as I graduate (probably July 2018). ;)

[2018-04-17 01:07] mmhobi7 commented on #33
instead of a log out it needs to be rebooted, and the nvidia power stuff doesn't work anymore

[2018-04-18 14:31] andrebrait commented on #33
@Aaahh Yes, I just tested some time ago. As a matter of fact, it's funky even on 16.04.3 and newer.

[2018-05-11 14:40] andrebrait commented on #30
You'd need to modify it, unfortunately. I can't dedicate any time to do that. The autostart script is super simple, though. Maybe including an option to check it a command line arg has been passed or not and only if not then request user input, that way ypu can pass a y/n flag to make it autostart or not.

[2018-05-12 16:53] as3mbus commented on #30
i'll try to do that if i have some free time. thank you for the information :smile:

[2018-05-14 11:06] Motherboard opened #34 "reboot required to switch on Ubuntu 17.10"
Using Ubuntu 17.10 with nvidia-390, Switching (either from intel to nvidia, or from nvidia to intel) no longer happens on logout, but requires fool restart.

The indicator asks to confirm logout, but does nothing. And manual logout results in a login loop.

After a restart the gpu is switched.. I wonder if that's an Ubuntu thing? Will switching to Mint 18.3 solve this problem?

[2018-05-14 21:34] andrebrait commented on #34
As far as I can tell, that's a side effect of newer kernels alongside newer Nvidia drivers. Mint is the equivalent of goint back to Ubuntu 16.04 and using the default 4.4 kernel, so that might work for you.

[2018-05-14 22:49] Motherboard commented on #34
Oh, I have to use the 4.13 kernel... So I guess I'm doomed :(

By the way, I read on [nvidia dev talks](https://devtalk.nvidia.com/default/topic/1001621/prime-select-nvidia-gt-log-off-doesn-t-work-but-reboot-does-on-375-quadro-m1000m-dell-precision-550/?offset=25) that using  systemctl restart display-manager after logout from the vterm resolves the restart issue.. Maybe you could add that to prim

[2018-05-15 10:16] andrebrait commented on #34
Wow, pretty cool. Thanks a lot. I haven't been having a lot of time to mess with this indicator.

I'll see if I can pinpoint to yoh the location to insert the systemctl restart command in the scripts to see if it works for you.

[2018-05-17 19:24] Motherboard commented on #34
I've got an update - the restart of the display manager is only needed for GDM (maybe also Gnome) - moved to Cinnamon and LightDM, and now it works fine!

[2018-05-17 19:27] Motherboard commented on #33
@Aaahh It also happens in 17.10, I suspect it's because of GDM - I've installed Cinnamon and LightDM instead of Gnome and GDM on my 17.10, and now it works like a charm - I guess it's the same thing with regards to 18.04.

[2018-05-18 15:33] andrebrait commented on #34
I remember this whole scheme needed LightDM when I was researching how to
enable it for other distros.

On Thu, May 17, 2018, 4:24 PM Guy Brand <notifications@github.com> wrote:

[2018-05-19 15:50] mmhobi7 commented on #34
nvidia-xrun hasn't seen an update in awhile, and it seems to be the successor to bumblebee not nvidia-prime. I see a future for it where nvidia works like it does on windows with optimus.

We could replace logout with sudo reboot or sudo systemctl restart display-manager

[2018-05-19 16:11] mmhobi7 commented on #33
@Motherboard
I have Lightdm and it's still funky

[2018-05-19 16:34] mmhobi7 commented on #34
ok so sudo systemctl restart display-manager is slower then a reboot and didn't switch the graphics.

[2018-05-20 08:40] Motherboard commented on #34
@Aaahh restart display-manager was much faster than reboot on my machine, and it did switch the graphics.... And when I switched to lightDM, even this restart is not needed anymore.

My nvidia-prime version is 0.8.5, perhaps 0.8.8 in bionic beaver is the problem?

[2018-05-20 17:23] andrebrait commented on #34
I have to take a proper look into this, but until September I can't promise anything...

What I would do to try and pinpoint the problem is to switch graphics using the NVIDIA's control panel and seeing what it takes to do so properly. Is it a reboot? Log out and then in? Restarting the display-manager? A combination of some of these?

My Indicator is basically a fancy icon in the tray + a script

[2018-05-20 19:36] mmhobi7 commented on #34
I am on 0.8.8,
https://github.com/tseliot/nvidia-prime/commit/d68b6cdea96b619e3d1c7bbb5c8956fd5cec225d
so can someone do cat /proc/acpi/bbswitch for me

also you were right on lighdm dependency,
https://github.com/tseliot/nvidia-prime/commit/675b307bbace000d252ec2a0a50d881a041a3d71
https://launchpadlibrarian.net/366530048/nvidia-prime_0.8.7_0.8.8.diff.gz

the power of Nvidia is found at
/etc/prime

[2018-05-20 22:16] Motherboard commented on #34
I get
`cat: /proc/acpi/bbswitch: No such file or directory`

I got nvidia 390.59-0ubuntu0~gpu17.10.1 with kernel 4.13.0-41-generic, and it work just fine with just login\logout with lightDM...

Using the nvidia-settings control panel to switch, as @andrebrait suggested also works for me with a simple login/logout.

[2018-05-20 22:44] mmhobi7 commented on #34
Nvidia-settings tells me to "Please restart your computer to apply the changes"

It's the kernel, 4.15.0-21-generic
The change was in the kernel I think, I think 4.14 also works with just a logout and login
could you do a sudo cat /sys/kernel/debug/vgaswitcheroo/switch

[2018-05-21 06:19] Motherboard commented on #34
cat: /sys/kernel/debug/vgaswitcheroo/switch: No such file or directory

[2018-05-21 06:20] mmhobi7 commented on #34
Make sure you have intel switched on

[2018-05-21 06:20] Motherboard commented on #34
Yes, I'm on the iGPU right now.

[2018-05-21 06:22] mmhobi7 commented on #34
Well nvidia prime uses either vgaswicheroo or bbswitch, so I have no idea what is being used on your system, either way 0.8.8 and 4.15 brings switcheroo and requires reboot

[2018-05-21 06:27] Motherboard commented on #34
bbswitch has a problem loading on my system:

dmesg | grep bbswitch
[code]

But I still switch with no problem...

[2018-05-21 06:28] mmhobi7 commented on #34
Can you tell if your nvidia is on? Like extra heat? I’m guessing your graphics card is never turned off
cat /etc/prime-discrete

[2018-05-21 06:30] Motherboard commented on #34
sudo cat /etc/prime-discrete
off

[2018-05-22 15:31] jasmines commented on #33
I'm trying to contact the developer since ubuntu 17.10 asking for an upgrade.
Never answered.
The ppa is active but prime-indicator-plus package must have been abandoned...

Not a great behaviour, but that's it...

[2018-05-22 17:31] andrebrait commented on #33
@jasmines I haven't released a new version of this software, which is why the guy responsible for the PPA hasn't updated it, AFAIK.

If by "the developer" you mean me, though, I'm sorry that I didn't respond, but I wasn't notified of anyone trying to contact me as well :/

[2018-05-22 17:40] jasmines commented on #33
So what should one do to have a build for bionic in the PPA? Can't you put us in contact with the mantainer? He should be the guy behind webupd8 and he's ignoring our messages as well. 

[2018-05-23 01:13] andrebrait commented on #33
@jasmines I had a discussion that included him earlier this year and he didn't respond either.

I don't know what happened to him. I hope he's okay. I'll see if he can respond the email.

Bear in mind that the indicator isn't exactly in the best shape for bionic, as others have pointed out... :/

[2018-05-23 01:15] mmhobi7 commented on #33
Git clone and run the install script

[2018-05-23 01:17] andrebrait commented on #33
@Aaahh yeah, that works too.

And installing the dependencies like in the README for this repo too.

[2018-05-24 05:26] ViBE-HU commented on #33
@jasmines sadly [Andrei](https://plus.google.com/+AlinAndrei) (the maintainer of that PPA and the creator of WebUpd8) is pretty inactive for a while so it's not gonna be easy.

[2018-05-24 05:39] jasmines commented on #33
A while means more than a year for the PPA. Webupd8 is getting updated regularly, instead, as it gives him money...Il 24 mag 2018 7:26 AM, ViBE <notifications@github.com> ha scritto:@jasmines sadly Andrei (the maintainer of that PPA and the creator of WebUpd8) is pretty inactive for a while so it's not gonna be easy.

—You are receiving this because you were mentioned.Reply to this email directly,

[2018-06-05 12:15] Motherboard commented on #33
[This](https://github.com/matthieugras/Prime-Ubuntu-18.04) might be of interest - a replacement for the prime-select in Ubuntu 18.04 which works without reboot.

[2018-06-05 13:24] andrebrait commented on #33
Thanks for the tip! I'll look into it.

On top of it all, it's written in Rust :) I like Rust

On Tue, Jun 5, 2018, 9:15 AM Guy Brand <notifications@github.com> wrote:

[2018-06-07 09:01] Motherboard commented on #33
That nvidia-prime alternative I posted seems to be not maintained at the moment, it had been forked and further improved [here](https://github.com/matthieugras/Prime-Ubuntu-18.04), there's an active discussion about it in the [nvidia dev forum](https://devtalk.nvidia.com/default/topic/1032482/linux/optimus-on-ubuntu-18-04-is-a-step-backwards-but-i-found-the-first-good-solution/4).

[2018-07-07 06:22] jasmines commented on #33
And the PPA is still missing updates... Launchpad should be use to close them when the mantainer even refuse to answer...

[2018-12-13 18:49] pulver22 commented on #26
Hi,

I am actually having the same problem with Ubuntu 16.04.5, kernel 4.15.0.42 and nvidia driver 410.79.
I login using the Nvidia card and then I can switch to Intel from the applet. When I relogin after the logout, the Nvidia is still on and I cannot power it down. Clicking on that option once doesn't produce any result, doing it twice freeze the pc. The same happens when I do `sudo tee /proc/a

[2018-12-14 10:36] andrebrait commented on #26
They pretty much screwed up with the newer kernels and drivers.

I'll have to rewrite this indicator, soon.

[2018-12-14 10:44] pulver22 commented on #26
Good to know you are aware of the problem and willing to fix it :)